body {
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
}

header {
  width: 1100px;
  min-height: 293px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
}

.header__menu {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.header__links-list {
  padding-top: 136px;
  display: flex;
  justify-self: start;
  gap: 31px;
  list-style-type: none;
}

.header__link_no_active {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_bullet {
  text-decoration: none;
  list-style-type: circle;
  letter-spacing: 0.3px;
}

.header__logo-image {
  display: block;
  padding-top: 92px;
  width: 140px;
}

.address {
  padding-top: 97px;
  padding-left: 193px;
}

.header_address_item {
  font-size: 18px;
  line-height: 135%;
  font-style: normal;
}

.header_address_item_link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 165px 50px 51px 50px;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 0.6);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.cover__title {
  position: relative;
  letter-spacing: 0.3em;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  text-align: left;
  line-height: 1.15;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
  margin-top: 20px;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
  margin-top: 20px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 29px;
  margin-top: 135px;
}

.cover__description-text {
    font-weight: 400;
    line-height: 127%;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    word-spacing: 0.85em;
    z-index: 1;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-weight: 500;
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 1;
}

.lots {
  margin: 179px 24px 146px 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 27px;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  padding: 51px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  text-align: left;
  text-decoration-skip-ink: none;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.lots__look-more-link {
  display: block;
  padding-left: 40px;
  padding-top: 30px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-position: under;
}

.about {
  margin: 146px 24px 180px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 359px 2fr;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  margin-left: 47px;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 136px;
  margin-bottom: 100px;
}

.about__text {
  display: grid;
  gap: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.footer {
  margin: 180px 50px 88px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer_address_item {
  font-size: 18px;
  line-height: 135%;
  font-style: normal;
  letter-spacing: 0.01em;
}

.footer_address_item_link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
  font-size: 18px;
}

.footer__menu-link_no_active {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-icon {
 width: 48px;
 height: 48px;
}

